{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    
    <header>
        <h1>Weather Check</h1>
    </header>

    <div class="otherdetails">
        <form>
            <label for="cityname">City</label>
            <input type="text" id="cityname" name="cityname">
            <br><input type="submit" value="Search">
        </form>
            <br>
            <table>
                <thead>
                  
                </thead>
                <tbody>
                    <tr>
                        
                        <td class="temp">temperature</td>
                    
                        <td class="val">20<sup>○</sup>C</td>
                        
                    </tr>
                    <tr>
                        <td class="temp">Wind</td>
                        <td class="val">20 KM/h</td>
                        
                    </tr>
                    <tr>
                        <td class="temp">Status</td>
                        <td class="val">Clody</td>
                        
                    </tr>
                </tbody>
                    
                    
                
            </table>
        

    </div>
</body>
</html>